*{
    font-family: 'Kufam', cursive;
}

:root{
    --blue: rgb(86, 56, 194);
    --background_color:rgb(245, 245, 250);
}
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(245, 245, 250);
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    width: 100%;
}

#left{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 20%;
    background-color: white;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 60px;
}
#right{
    margin: 0;
    width: 20%;
    background-color: white;
    height: 100%;
}

#logo{
    height: 250px;
    width: 100%;
}

#logoContent{
    display: inline-block;
    margin: 100px 20px 40px 60px;
    font-weight: 800;
    font-size: 45px;
}

#menu{
    padding-left: 60px;
}

#menu-heading{
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 80px;
    color:var(--blue);
}
.menu-content{
    font-weight: 600;
    padding: 0 20px 50px 0px;
    color: rgb(153, 153, 153);
    letter-spacing: 0.5px;
    cursor: pointer;
}
#motivation-img{
    width: 300px;
    height: 300px;
}
#main-heading{
    display: inline-block;
    padding: 30px 0;
}

#main-heading-content{
    display: block;
    font-size: 60px;
    font-weight: 800;
}
#main-heading-annotation{
    color: #b9b3b3;
    font-weight: 600;
    font-size: 18px;
}

#task-headings{
    display: flex;
    padding: 40px 0 30px 0;
}
#tasks-type{
    color: var(--blue);
    width: 80%;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.6px;
    display: inline-block;
    
}
#tasks-due-date{
    color: var(--blue);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.6px;
    display: inline-block;
}
#tasks{
    height: 80%;
}

.task{
    display: flex;
    margin: 10px 0;
    background-color: white;
    border-radius: 20px;
}

.task-color-part{
    padding: 20px 17px;
    border-right: 10px solid var(--background_color);
    
}
.task-color{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}

.task-content-part{
    width: 60%;
    font-size: 15px;
    border-right: 10px solid var(--background_color);
    padding: 20px 27px;
    color: rgb(153, 153, 153);;
}

.task-due-date-part{
    font-size: 15px;
    padding: 20px 17px 20px 30px;
    color: rgb(153, 153, 153);
    margin: auto
}
